@page
@model VIACinema.Pages.Screenings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Screening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Screening.Date" class="control-label"></label>
                <input asp-for="Screening.Date" class="form-control" />
                <span asp-validation-for="Screening.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screening.Room" class="control-label"></label>
                <input asp-for="Screening.Room" class="form-control" />
                <span asp-validation-for="Screening.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screening.Seats" class="control-label"></label>
                <input asp-for="Screening.Seats" class="form-control" />
                <span asp-validation-for="Screening.Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screening.MovieId" class="control-label">Movie</label>
                <select asp-for="Screening.MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
